<footer>
    Copyright &copy; Oussema 2020
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo voluptatem at excepturi veritatis similique
        dolorem laborum recusandae, optio quae! Numquam accusamus quas esse facilis est veritatis voluptatum tenetur
        ratione qui.
    </p>
</footer>