<div>
  <div class="site-title">
    <a href="/">
      <h1>Memories</h1>
    </a>
    <p>Upload your memories</p>
  </div>
  <nav>
    <a href="/">Posts</a>
    <a href="/about">About</a>
    <a href="/posts/create">New Post</a>
  </nav>