<html lang="en">
<%- include("./partials/nav.ejs") %>
    <%- include("./partials/head.ejs") %>

        <body>
            <h2 >About Us</h2>
            <div class="about content">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur
                    ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae
                    in.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur
                    ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae
                    in.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur
                    ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae
                    in.</p>
            </div>

            <%- include("./partials/footer.ejs") %>
        </body>

</html>